;; not building with java 11. Library moved?
{:paths ["src"
         "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.xml {:mvn/version "0.0.8"}
        commons-cli/commons-cli {:mvn/version "1.5.0"}
        org.apache.xmlgraphics/batik-parser {:mvn/version "1.16"}}
 :aliases {:uberjar {:extra-deps {uberdeps/uberdeps {:mvn/version "1.1.4"}}
                     :replace-paths []
                     ;; must run `clj -M -e "(compile 'lazr.core)"` to generate the class first!!!
                     ;; how to make that part of this?
                     :main-opts ["-m" "uberdeps.uberjar" "--main-class" "lazr.core"]}}}
